<ion-buttons>
  <ion-button
    fill="clear"
    shape="round"
    href="https://linkedin.com/in/matigaleanodev/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ion-icon name="logo-linkedin" />
  </ion-button>
  <ion-button
    fill="clear"
    shape="round"
    href="https://github.com/matigaleanodev/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ion-icon name="logo-github" />
  </ion-button>
  <ion-button
    fill="clear"
    shape="round"
    href="https://www.instagram.com/matigaleanodev/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ion-icon name="logo-instagram" />
  </ion-button>
  @if (hasMail()) {
  <ion-button
    fill="clear"
    shape="round"
    href="mailto:contacto@matiasgaleano.com.ar"
    target="_blank"
    rel="noopener noreferrer"
  >
    <ion-icon name="mail" />
  </ion-button>
  }
</ion-buttons>
