<section class="container mt-3 text-light">
  <app-subtitle class="row" [title]="'Tecnologías con las que trabajo'" />
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-8 col-lg-6 border border-primary bg-gradient bg-opacity-25 rounded-3 mb-3"
    >
      <p class="p-4">
        En mi trayectoria profesional, he adquirido experiencia en diversas
        tecnologías que me permiten crear soluciones efectivas.
        <br />
        A continuación, te muestro mis principales habilidades:
      </p>
    </div>
  </div>

  <h3 class="fs-3 fw-semibold text-center">Frontend</h3>
  <div class="d-flex flex-row justify-content-center mb-2">
    <div class="col-auto d-flex gap-4">
      <app-hard-skill-item
        class="col"
        *ngFor="let skill of frontend"
        [skill]="skill"
      />
    </div>
  </div>

  <h3 class="fs-3 fw-semibold text-center">Backend</h3>
  <div class="d-flex flex-row justify-content-center mb-2">
    <div class="col-auto d-flex gap-4">
      <app-hard-skill-item
        class="col"
        *ngFor="let skill of backend"
        [skill]="skill"
      />
    </div>
  </div>

  <h3 class="fs-3 fw-semibold text-center">Herramientas</h3>
  <div class="d-flex flex-row justify-content-center mb-2">
    <div class="col-auto d-flex gap-4">
      <app-hard-skill-item
        class="col"
        *ngFor="let skill of tools"
        [skill]="skill"
      />
    </div>
  </div>
</section>
