.subtitle {
  font-weight: 800;
  color: var(--ion-color-medium);
  text-shadow: 2px 4px 12px var(--shadow-color);
  font-size: clamp(2rem, 3vw, 2.5rem);
  line-height: 2.5rem;
  padding: 5px;
  max-height: 2.8rem;
  white-space: nowrap;
}
