.subtitle {
  font-weight: 800;
  text-shadow: 0px -3px 6px var(--shadow-color);
  font-size: clamp(2rem, 3vw, 2.5rem);
  line-height: 2.5rem;
  padding: 5px;
  max-height: 2.8rem;
  white-space: nowrap;
}
