<ion-card>
  <ion-card-content>
    <form
      [formGroup]="contactForm"
      autocomplete="off"
      (ngSubmit)="submit($event)"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="12" sizeLg="6" class="p-2">
            <ion-input
              type="text"
              fill="outline"
              formControlName="name"
              label="Nombre"
              labelPlacement="floating"
              helperText="Ingresa tu nombre"
              errorText="Debes ingresar tu nombre"
            >
              <ion-icon color="primary" name="person" slot="start" />
            </ion-input>
          </ion-col>
          <ion-col size="12" sizeLg="6" class="p-2">
            <ion-input
              type="text"
              fill="outline"
              formControlName="email"
              label="Email"
              labelPlacement="floating"
              helperText="Ingresa tu email"
              errorText="Debes ingresar tu email"
            >
              <ion-icon color="primary" name="mail" slot="start" />
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-2">
            <ion-textarea
              type="text"
              fill="outline"
              rows="10"
              formControlName="message"
              label="Mensaje"
              labelPlacement="floating"
              helperText="Dejame tu mensaje"
              errorText="Debes ingresar un mensaje"
            >
              <ion-icon color="primary" name="document-text" slot="start" />
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" sizeLg="6" class="p-2">
            <re-captcha
              [ngClass]="{
                '!border-2 !border-red-500':
                  Recaptcha?.invalid && Recaptcha?.touched
              }"
              formControlName="recaptcha"
              [siteKey]="sitekey"
            ></re-captcha>
          </ion-col>
          <ion-col
            size="12"
            sizeLg="6"
            class="p-2 lg:flex justify-end items-end"
          >
            <ion-button
              [disabled]="contactForm.invalid"
              expand="block"
              size="large"
            >
              enviar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
