<footer class="footer border-top text-center pt-2" style="min-height: 150px">
  <div class="container text-light">
    <div class="row">
      <div class="col-md-6 text-center">
        <h4>Sígueme en las redes sociales:</h4>
        <app-social-box />
      </div>
      <div class="col-md-6">
        <h4>Contacto</h4>
        <p class="mb-1">Dirección: 123 Calle Principal, Ciudad</p>
        <p class="mb-1">Teléfono: (123) 456-7890</p>
        <p class="mb-1">Email: ejemplo@example.com</p>
      </div>
    </div>
  </div>
</footer>
