ion-footer {
  ion-toolbar {
    --min-height: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    ion-buttons {
      justify-self: center;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

article {
  max-width: 300px;
  ion-card {
    min-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ion-card-content {
      flex: 1;
    }
  }
}
