<article #card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-lg font-bold px-[1rem]">
        <h4>
          {{ project().name }}
        </h4>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      @if (image()) {
      <figure class="h-[200px] w-auto rounded-md">
        <ion-img
          class="!h-[90%] w-auto"
          [src]="image()"
          [alt]="project().name"
        />
      </figure>
      <div class="mt-2">
        <ion-text class="w-full">
          {{ project().description }}
        </ion-text>
      </div>
      }
    </ion-card-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons>
          @if (project().frontUrl) {
          <ion-button fill="clear" [href]="project().frontUrl" target="_blank">
            <ion-icon slot="icon-only" name="logo-github"></ion-icon>
          </ion-button>
          } @if (project().backUrl) {
          <ion-button fill="clear" [href]="project().backUrl" target="_blank">
            <ion-icon slot="icon-only" name="logo-github"></ion-icon>
          </ion-button>
          } @if (project().demoUrl) {
          <ion-button fill="clear" [href]="project().demoUrl" target="_blank">
            <ion-icon slot="icon-only" name="open-outline"></ion-icon>
          </ion-button>
          }
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-card>
</article>
