<article class="project-card">
  <div class="project-details">
    <div class="project-name">
      <h5>{{ project.name }}</h5>
    </div>
    <div class="project-description">
      <p>{{ project.description }}</p>
    </div>
    <div class="project-buttons">
      <a
        Tooltip
        tooltip="Frontend Repo"
        *ngIf="project.frontUrl"
        [href]="project.frontUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        Tooltip
        tooltip="Backend Repo"
        *ngIf="project.backUrl"
        [href]="project.backUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        Tooltip
        tooltip="Live Demo"
        *ngIf="project.demoUrl"
        [href]="project.demoUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-solid fa-arrow-up-right-from-square"></i
      ></a>
    </div>
  </div>

  <img
    [src]="image$ | async"
    alt="{{ project.name }}"
    class="project-image"
    fill
  />
</article>
