<header class="header fixed-top border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-default">
      <a class="navbar-brand" href="#">
        <img class="img-fluid" [src]="logo" alt="" style="width: 2rem" />
        {{ title }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-auto" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contacto</a>
          </li>
        </ul>
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end col-auto"
          style="height: 40px"
        >
          <a
            href="https://github.com/MatiGaleano/cookingRecipes"
            target="_blank"
            rel="noopener noreferrer"
            class="socialbox-link ms-auto me-0"
          >
            <i class="fa-solid fa-code" style="font-size: 15px"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
