<section class="container-fluid container-lg text-light pt-5 pt-md-0">
  <div
    class="row mh100 d-flex flex-row align-items-center justify-content-around"
  >
    <article
      class="col-12 col-sm-8 col-md-5 col-lg-6 h-100 d-flex align-items-center mb-3 mb-md-auto"
    >
      <div
        #agradecimiento
        class="d-flex flex-column border border-light bg-gradient bg-opacity-25 p-3 rounded-3"
      >
        <h3 class="fs-3 fw-bolder text-center">¡Gracias por tu visita!</h3>
        <p class="text p-2 mt-md-auto">
          Es un placer compartir mi trabajo contigo.La creatividad y la pasión
          son los pilares de todo lo que hago, y estoy emocionado de mostrarte
          cómo se reflejan en mis proyectos.
          <br />
          Tener la oportunidad de expresar mi visión a través del diseño y la
          creatividad es un regalo que valoro profundamente.
          <br />
          Cada proyecto en este portfolio representa un desafío superado, un
          aprendizaje, y un paso más en mi viaje como creativo.
          <br />
          ¡No dudes en ponerte en contacto conmigo a través de las siguientes
          plataformas!
        </p>
        <app-social-box [mail]="true" class="mt-md-auto mb-2 mb-md-3 mb-lg-4" />
      </div>
    </article>
    <article
      class="col-12 col-sm-8 col-md-7 col-lg-6 h-100 d-flex align-items-center mb-3 mb-md-auto"
    >
      <div
        #formulario
        class="border border-light bg-gradient bg-opacity-25 p-3 rounded-3 w-100"
      >
        <h3 class="fs-3 fw-bolder text-center">¡Puedes dejarme un mensaje!</h3>
        <p class="text p-2">
          Si tienes alguna pregunta, comentario o estás interesado en colaborar
          en algún proyecto, estaré encantado de escucharte. Puedes contactarme
          a través del formulario de contacto a continuación.
        </p>
        <app-contact-form />
      </div>
    </article>
  </div>
</section>

<!-- 
<p class="text">
  Tu retroalimentación es muy importante para mí, y estoy ansioso por
  escuchar tus ideas y sugerencias. Gracias de nuevo por visitar mi
  portfolio, y espero que disfrutes explorando mi trabajo tanto como yo
  disfruté creándolo. Juntos, podemos dar vida a ideas extraordinarias.
</p> -->
