<ion-card
  class="tools-window bg-white px-4 py-0 rounded-lg shadow-xl border border-gray-300"
>
  <ion-card-header class="tools-header">
    <ion-toolbar class="tools-toolbar p-1">
      <ion-buttons slot="start">
        <ion-icon name="construct-outline" class="text-gray-800"></ion-icon>
        <!-- Icono de herramientas -->
      </ion-buttons>
      <div class="flex items-center space-x-2 ml-2">
        <ion-card-title class="tools-tab-title text-gray-900 text-sm font-sans">
          Tools
        </ion-card-title>
      </div>
      <ion-buttons slot="end">
        <div class="flex space-x-1">
          <span class="w-3 h-3 bg-red-500 rounded-full"></span>
          <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
          <span class="w-3 h-3 bg-green-500 rounded-full"></span>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="tools-content">
    <ion-list>
      @for (tool of tools; track $index) {
      <ion-item class="tools-item">
        <ion-label>{{ tool.name }}</ion-label>
        <ion-button fill="outline" size="small">Usar</ion-button>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
