<section class="container p-0">
  <div class="row profile" *ngIf="profilePic$ | async">
    <div
      data-aos="fade-down"
      class="d-flex justify-content-center align-items-center col-12 col-md-4 py-5 py-md-2 mx-auto"
    >
      <ul class="nav flex-column gap-2">
        <picture class="mx-auto mb-4 profile__picture">
          <img
            [src]="profilePic$ | async"
            alt="Matias Galeano foto de perfil"
            class="profile__picture__img"
          />
        </picture>
        <button
          class="btn bg-primary bg-opacity-50 text-light mx-auto col-8 col-md-12"
          (click)="onClick('soft')"
        >
          Soft Skills
        </button>
        <button
          class="btn bg-primary bg-opacity-50 text-light mx-auto col-8 col-md-12"
          (click)="onClick('hard')"
        >
          Hard Skills
        </button>
      </ul>
    </div>
    <div
      data-aos="fade-up"
      class="d-flex justify-content-center col-12 col-md-8 py-5 py-md-2 mx-auto"
    >
      <article
        class="col-12 col-md-12 border border-primary border-1 rounded-2 p-4 bg-gradient bg-opacity-25 profile__content"
      >
        <div class="col-12 d-flex pb-2 align-items-center border-bottom">
          <h3 class="fw-bold fs-2 fw-bold text-light profile__content__title">
            Sobre Mi
          </h3>
        </div>
        <div class="pt-2 pt-md-3 profile__content__body">
          <p
            class="text-break profile__content__p text-light"
            [innerHTML]="profile.description"
          ></p>
        </div>
      </article>
    </div>
  </div>
</section>
