<ion-card
  class="bg-gray-900 text-green-400 p-4 rounded-lg shadow-xl border border-gray-800"
>
  <ion-card-header class="custom-header">
    <ion-toolbar class="bg-gray-900 p-1">
      <div class="flex items-center space-x-2">
        <ion-icon name="terminal-outline" class="text-green-400 text-lg" />
        <ion-card-title class="text-green-400 font-mono">
          Backend
        </ion-card-title>
      </div>
      <ion-buttons slot="end">
        <div class="flex space-x-1">
          <span class="w-3 h-3 bg-red-500 rounded-full"></span>
          <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
          <span class="w-3 h-3 bg-green-500 rounded-full"></span>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @for (skill of backendSkills; track $index) {
      <ion-item class="bg-gray-900 border-b border-gray-700">
        <ion-label class="text-green-400 font-mono">{{ skill.name }}</ion-label>
        <ion-progress-bar
          class="progress-bar bg-green-600"
          [value]="skill.value"
        ></ion-progress-bar>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
