<form
  [formGroup]="projectForm"
  (ngSubmit)="onSubmit($event)"
  autocomplete="off"
>
  <div class="row pt-3 justify-content-center">
    <div class="col-12 col-md-10 col-xl-6">
      <div
        class="card mb-3 bg-light bg-opacity-25 border-light rounded rouded-3 text-light glass-box"
      >
        <div class="card-header">
          <h5 class="text-center fs-5 fw-semibold">Proyecto</h5>
        </div>

        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="name" class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <div class="form-group">
                <label for="description" class="form-label">Descripción</label>
                <textarea
                  type="text"
                  rows="5"
                  class="form-control"
                  name="description"
                  id="description"
                  formControlName="description"
                >
                </textarea>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="frontUrl" class="form-label">Frontend</label>
                <input
                  type="url"
                  class="form-control"
                  name="frontUrl"
                  id="frontUrl"
                  formControlName="frontUrl"
                />
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="backUrl" class="form-label">Backend</label>
                <input
                  type="url"
                  class="form-control"
                  name="backUrl"
                  id="backUrl"
                  formControlName="backUrl"
                />
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="demoUrl" class="form-label">Live Demo</label>
                <input
                  type="url"
                  class="form-control"
                  name="demoUrl"
                  id="demoUrl"
                  formControlName="demoUrl"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <app-image-uploader
              class="col-12 col-md-6"
              [form]="projectForm"
              [controlName]="'image'"
              [label]="'Imagen del proyecto'"
            />
          </div>
          <div class="row mb-2">
            <div class="col-12 d-flex">
              <button
                (click)="onCancel($event)"
                class="btn btn-secondary me-2 ms-auto"
                style="min-width: 200px; max-width: 250px"
              >
                Cancelar
              </button>
              <input
                [disabled]="!projectForm.valid"
                type="submit"
                value="Enviar"
                class="btn btn-primary me-0"
                style="min-width: 200px; max-width: 250px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
