<ion-card class="chrome-window p-2 rounded-lg shadow-xl border border-gray-300">
  <ion-card-header class="chrome-header">
    <ion-toolbar class="chrome-toolbar p-1">
      <ion-buttons slot="start">
        <ion-icon name="logo-chrome"></ion-icon>
      </ion-buttons>
      <div class="flex items-center space-x-2 ml-2">
        <ion-card-title class="chrome-tab-title">Frontend</ion-card-title>
      </div>
      <ion-buttons slot="end">
        <div class="flex space-x-1">
          <span class="w-3 h-3 bg-red-500 rounded-full"></span>
          <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
          <span class="w-3 h-3 bg-green-500 rounded-full"></span>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>

  <!-- Barra de navegación fija -->
  <div class="bg-cyan-700 p-3 rounded-t-lg">
    <div class="flex items-center space-x-4">
      <!-- Botones del inicio -->
      <div class="flex space-x-2">
        <span class="w-3 h-3 bg-red-500 rounded-full"></span>
        <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
        <span class="w-3 h-3 bg-green-500 rounded-full"></span>
      </div>

      <!-- Dirección de la página -->
      <div class="flex-1 bg-white px-4 py-1 rounded-lg text-gray-700">
        {{
          frontendSkills()[currentIndex()]
            ? frontendSkills()[currentIndex()].link
            : "https://www.example.com"
        }}
      </div>

      <!-- Botones del final -->
      <div class="flex space-x-4 items-center">
        <ion-icon name="refresh" color="light" />
        <ion-icon name="star-outline" color="warning" />
        <ion-icon name="ellipsis-horizontal" color="light" />
      </div>
    </div>
  </div>

  <ion-card-content class="chrome-content border">
    <!-- Contenedor principal del carrusel -->
    <div class="flex items-center space-x-4">
      <!-- Contenedor del carrusel -->
      <div class="flex-1 overflow-hidden h-42">
        <div
          class="flex transition-transform duration-500 ease-in-out h-full"
          [ngStyle]="{
            transform: 'translateX(' + -currentIndex() * 100 + '%)'
          }"
        >
          @for (skill of frontendSkills(); track $index) {
          <div class="flex-none w-full h-full">
            <div class="p-4 h-full flex items-center space-x-4">
              <img
                src="{{ skill.image }}"
                alt="{{ skill.name }}"
                class="w-20 h-20 lg:w-32 lg:h-32 rounded-lg"
              />
              <div>
                <ion-title>
                  <h3 class="skill-title">{{ skill.name }}</h3>
                </ion-title>
                <ion-text>{{ skill.description }}</ion-text>
              </div>
            </div>
          </div>
          }
        </div>
      </div>

      <!-- Contenedor de botones en columna a la derecha -->
      <div class="flex flex-col space-y-2 w-auto">
        <ion-button
          color="medium"
          fill="clear"
          (click)="prevSlide()"
          class="rounded-full p-2"
        >
          <ion-icon slot="icon-only" name="chevron-back" size="large" />
        </ion-button>

        <ion-button
          color="medium"
          fill="clear"
          (click)="nextSlide()"
          class="rounded-full p-2"
        >
          <ion-icon slot="icon-only" name="chevron-forward" size="large" />
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
