$primary: #1e09e0;
$secondary: #eba350;
$success: #117948;
$danger: #a82431;
$info: #e0af0f;
$light: #e0cef1;
$white: #f4ecfc;
$gray: #acafb3;
$dark: #0a0114;
$shadow: rgba(26, 1, 54, 0.5);
$shadow-light: rgba(255, 180, 82, 0.5);
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #474242;

$header-background-light: #ce9865a9;
$header-background-dark: #100c1aa9;
