$primary: #4209e0;
$secondary: #e98d42;
$success: #117948;
$danger: #a82431;
$info: #e0af0f;
$light: #e8ddf1;
$white: #f3f0f7;
$gray: #acafb3;
$dark: #040008;
$shadow-dark: #00000040;
$shadow-light: #ffb45280;
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #e1306c;
$linkedin: #0077b5;
$github: #474242;

$header-background-light: #ce9865a9;
$header-background-dark: #00000040;
