:root {
  --ion-color-primary: #5a80f5;
  --ion-color-primary-rgb: 90, 128, 245;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5073db;
  --ion-color-primary-tint: #6a8cf7;

  --ion-color-secondary: #3107a3;
  --ion-color-secondary-rgb: 49, 7, 163;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2b0692;
  --ion-color-secondary-tint: #441eb0;

  --ion-color-tertiary: #a85609;
  --ion-color-tertiary-rgb: 168, 86, 9;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #944a08;
  --ion-color-tertiary-tint: #b0682b;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #040008;
  --ion-color-dark-rgb: 4, 0, 8;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #030007;
  --ion-color-dark-tint: #150b1a;

  --ion-color-medium: #acafb3;
  --ion-color-medium-rgb: 172, 175, 179;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #989b9f;
  --ion-color-medium-tint: #b6b9bd;

  --ion-color-light: #e3f0f9;
  --ion-color-light-rgb: 227, 240, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d0d8df;
  --ion-color-light-tint: #f0f7fd;

  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59, 89, 152;

  --ion-color-twitter: #1da1f2;
  --ion-color-twitter-rgb: 29, 161, 242;

  --ion-color-instagram: #e1306c;
  --ion-color-instagram-rgb: 225, 48, 108;

  --ion-color-linkedin: #0077b5;
  --ion-color-linkedin-rgb: 0, 119, 181;

  --ion-color-github: #474242;
  --ion-color-github-rgb: 71, 66, 66;

  --ion-color-whatsapp: #25d366;
  --ion-color-whatsapp-rgb: 37, 211, 102;

  --ion-color-angular: #9c27b0;
  --ion-color-angular-rgb: 156, 39, 176;

  --ion-color-ionic: #3880ff;
  --ion-color-ionic-rgb: 56, 128, 255;

  --ion-color-nestjs: #e02e2f;
  --ion-color-nestjs-rgb: 224, 46, 47;

  --ion-color-nodejs: #6cc24a;
  --ion-color-nodejs-rgb: 108, 194, 74;

  --ion-color-mysql: #00758f;
  --ion-color-mysql-rgb: 0, 117, 143;

  --ion-color-javascript: #f7df1e;
  --ion-color-javascript-rgb: 247, 223, 30;

  --ion-color-typescript: #007acc;
  --ion-color-typescript-rgb: 0, 122, 204;

  --ion-color-html: #e34c26;
  --ion-color-html-rgb: 227, 76, 38;

  --ion-color-css: #2965f1;
  --ion-color-css-rgb: 41, 101, 241;

  --ion-font-family: "Inconsolata", monospace;
  --ion-default-font: "Inconsolata", monospace;

  --shadow-color: #22222569;

  --ion-menu-color: #f4f5f8;
}

:root.ion-palette-dark {
  --ion-menu-color: #3d3f44;
  --shadow-color: #d9d4e269;
}
