@import "variables";

.project-card {
  width: min(90vw, 400px);
  height: min(90vw, 400px);
  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
  }

  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: $light;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    .project-details {
      height: 100%;
      .project-description,
      .project-buttons {
        opacity: 1;
      }
    }
  }

  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
  }

  .project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 0;
    transition: all 0.3s;
    overflow: hidden;
    background: rgba(6, 1, 29, 0.384);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px) !important;
    z-index: 1;

    .project-name {
      margin: 0;
      padding: 5px;
      border-radius: 5px;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
    }

    .project-description {
      opacity: 0;
      position: absolute;
      padding: 1.5rem;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;

      p {
        margin: 0;
      }
    }

    .project-buttons {
      opacity: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 1rem;
      margin-top: auto;
      .button-item {
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem;
        color: #ece4d8;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.show-details .project-details {
    height: 100%;
  }
}
