<!-- <article class="card bg-light bg-opacity-25 border border-primary">
  <div class="d-flex justify-content-center card-header">
    <h5 class="card__title fs-5 fw-bold text-center text-primary">
      {{ data.name }}
    </h5>
  </div>
  <img src="{{ image }}" alt="" class="card__img-top" />
  <div class="card-body bg-dark bg-opacity-25">
    <p class="card__text text-light text-center">{{ data.description }}</p>
    <p class="card__text text-light text-center mt-auto">
      Fecha de creación: {{ data.date | date : "dd/MM/yyyy" : "GTM" }}
    </p>
  </div>
  <div
    class="card-footer d-inline-flex flex-column justify-content-center align-items-center g-3"
  >
    <a
      *ngIf="data.frontUrl"
      href="{{ data.frontUrl }}"
      target="_blank"
      rel="noopener noreferrer"
      type="button"
      class="btn bg-primary bg-opacity-50 mt-2 text-light col-10 card__button"
    >
      <i class="fa-brands fa-github card__button-icon"></i> Frontend Repo
    </a>
    <a
      *ngIf="data.backUrl"
      href="{{ data.backUrl }}"
      target="_blank"
      rel="noopener noreferrer"
      type="button"
      class="btn bg-primary bg-opacity-50 mt-2 text-light col-10 card__button"
    >
      <i class="fa-brands fa-github card__button-icon"></i> Backend Repo
    </a>
    <a
      *ngIf="data.demoUrl"
      href="{{ data.demoUrl }}"
      target="_blank"
      rel="noopener noreferrer"
      type="button"
      class="btn bg-primary bg-opacity-50 mt-2 text-light col-10 card__button"
    >
      <i class="fa-solid fa-arrow-up-right-from-square card__button-icon"></i>
      Live Demo
    </a>
  </div>
</article> -->

<article class="project-card">
  <div class="project-details">
    <div class="project-name">
      <h5>{{ project.name }}</h5>
    </div>
    <div class="project-description">
      <p>{{ project.description }}</p>
    </div>
    <div class="project-buttons">
      <a
        Tooltip
        tooltip="Frontend Repo"
        *ngIf="project.frontUrl"
        [href]="project.frontUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        Tooltip
        tooltip="Backend Repo"
        *ngIf="project.backUrl"
        [href]="project.backUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a
        Tooltip
        tooltip="Live Demo"
        *ngIf="project.demoUrl"
        [href]="project.demoUrl"
        target="_blank"
        class="button-item"
        ><i class="fa-solid fa-arrow-up-right-from-square"></i
      ></a>
    </div>
  </div>

  <img [src]="image" alt="{{ project.name }}" class="project-image" />
</article>
