@import "variables";

.bg-white {
  background-color: rgb(232, 240, 254) !important;
}

.error-container {
  height: 1.5rem;
}

.login-box {
  box-shadow: 3px 3px 6px 0 $light;
}

.card-header.with-circles {
  position: relative;

  .fa-circle {
    font-size: 12px;
    margin-right: 5px; // Espacio entre los círculos y el texto
  }

  .text-red {
    color: #ff1e00;
  }

  .text-green {
    color: #0d700d;
  }

  .text-blue {
    color: #220572;
  }
}

.user-icon {
  height: 150px;
  width: 150px;
  .fa-user {
    width: 115px;
    height: 115px;
  }
}
