<div class="d-flex justify-content-center gap-1 socialbox">
  <a
    href="https://linkedin.com/in/matigaleanodev/"
    target="_blank"
    rel="noopener noreferrer"
    class="socialbox-link text-light"
  >
    <i class="socialbox-link-item fa-brands fa-linkedin"></i>
  </a>
  <a
    href="https://github.com/MatiGaleano"
    target="_blank"
    rel="noopener noreferrer"
    class="socialbox-link text-light"
  >
    <i class="socialbox-link-item fa-brands fa-github"></i>
  </a>
  <a
    href="https://www.instagram.com/matigaleanodev/"
    target="_blank"
    rel="noopener noreferrer"
    class="socialbox-link text-light"
  >
    <i class="socialbox-link-item fa-brands fa-instagram"></i>
  </a>
  <!-- <a
    href="mailto:contacto@matiasgaleano.com.ar"
    target="_blank"
    rel="noopener noreferrer"
    class="socialbox-link text-dark"
  >
    <i class="socialbox-link-item fa-solid fa-envelope"></i>
  </a> -->
</div>
