<ion-app>
  @if (useTabs()) {
  <ion-tabs>
    <div class="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-icon
            slot="start"
            color="light"
            aria-hidden="true"
            src="assets/logos/logo-mati.svg"
            class="object-contain text-[32px] ion-margin-horizontal"
          />
          <ion-title class="select-none"> {{ title }} </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ngx-particles
          class="relative"
          [id]="id"
          [options]="particlesOptions()"
          (particlesLoaded)="particlesLoaded($event)"
        ></ngx-particles>
        <ion-router-outlet />
      </ion-content>
    </div>
    <ion-tab-bar slot="bottom">
      @for (item of menuItems | menu; track $index) {
      <ion-tab-button [tab]="item.link">
        @if (item.icono === 'home') {
        <ion-icon src="assets/logos/logo-mati.svg" />
        }@else {
        <ion-icon [name]="item.icono" />
        }
        <ion-label class="select-none">
          {{ item.titulo }}
        </ion-label>
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>

  } @else {

  <ion-split-pane when="xs" contentId="main-content">
    <ion-menu id="menu-content" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <div class="flex justify-center items-center h-16">
            <ion-icon
              color="light"
              aria-hidden="true"
              src="assets/logos/logo-mati.svg"
              class="object-contain text-[32px]"
            />
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <app-menu />
      </ion-content>
    </ion-menu>
    <div class="main-content" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="select-none"> {{ title }} </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ngx-particles
          [id]="id"
          [options]="particlesOptions()"
          (particlesLoaded)="particlesLoaded($event)"
          class="relative"
        ></ngx-particles>
        <ion-router-outlet />
      </ion-content>
      <ion-footer [translucent]="true">
        <ion-toolbar class="ion-padding-end ion-text-end">
          <ion-text>
            Copyright &copy;
            <a
              href="https://matiasgaleano.com.ar/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Matias Galeano</a
            >
            - {{ date | date : "MMMM yyyy" }}
          </ion-text>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
  }
</ion-app>
