<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu id="menu-content" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <div class="flex justify-center items-center h-16">
            <ion-icon
              aria-hidden="true"
              src="assets/logos/logo-mati.svg"
              class="object-contain text-[32px] menu-color"
            />
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content color="primary">
        <app-menu />
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="select-none title">
            <h1 class="menu-color">
              {{ title }}
            </h1>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ngx-particles
          [id]="id"
          [options]="particlesOptions()"
          class="relative"
        ></ngx-particles>
        <ion-router-outlet />
      </ion-content>
      <ion-fab class="mb-4" slot="fixed" vertical="bottom" horizontal="start">
        <ion-fab-button>
          <ion-icon name="contrast" />
        </ion-fab-button>
        <ion-fab-list side="top" class="fix-ion-fab-list">
          <ion-fab-button color="dark" (click)="setDark()">
            <ion-icon name="moon" color="medium" />
          </ion-fab-button>
          <ion-fab-button color="light" (click)="setLight()">
            <ion-icon name="sunny" color="warning" />
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end" class="fix-ion-fab-list">
          <ion-fab-button color="primary" (click)="useDeviceTheme()">
            <ion-icon name="phone-portrait-outline" />
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <ion-footer [translucent]="true">
        <ion-toolbar class="ion-padding-end ion-text-end">
          <ion-text>
            &copy; Desarrollado por
            <a
              href="https://www.linkedin.com/in/matigaleanodev/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Matias Galeano
            </a>
            {{ date | date : "yyyy" }}
          </ion-text>
        </ion-toolbar>
      </ion-footer>
    </div>
  </ion-split-pane>
</ion-app>
