@import "variables";

.wave {
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  display: inline-block;
  -webkit-transform-origin: 70% 70%;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.profile {
  &-container {
    min-height: 90vh;
  }
  &-title {
    &-h1 {
      font-weight: 900;
      line-height: 3.5rem;
      text-shadow: 0px 3px 5px $shadow-dark;
      -webkit-text-stroke: 0.4px $dark;
      font-size: 5vh;
    }
    &-h2 {
      font-weight: 600;
      line-height: 3.5rem;
      font-size: 3vh;
      &::before,
      &::after {
        font-size: 3.5vh;
        color: $light;
        font-weight: 900;
        -webkit-text-stroke: 0.2px $dark;
      }
      &::before {
        content: "< ";
      }
      &::after {
        content: " />";
      }
    }
  }
  &-banner {
    &-image {
      min-height: 35vh;
      width: 35vh;
      padding: 0;
      margin: auto 5px auto 5px;
      border-radius: 100%;
      box-shadow: inset 10px 15px 30px $shadow-dark;
    }
  }
}
