<section class="container mh100">
  <div class="row h-100">
    <div
      class="col-12 col-lg-6 d-flex align-self-lg-start justify-content-center profile-title"
    >
      <div>
        <p class="text-light profile-title-h1">
          Hola!! <span class="wave" role="img" aria-labelledby="wave">👋🏻</span>
          <br />
          soy <span class="text-primary">Matias Galeano</span>
          <br />
          <span class="fs-3">Software Developer.</span>
        </p>
        <div class="col-12 d-flex justify-content-center profile-title-h2">
          <app-home-skills />
        </div>
      </div>
    </div>
    <picture
      class="d-none d-md-flex col-12 col-lg-6 align-self-lg-end justify-content-center profile-banner"
    >
      <img
        [src]="banner"
        alt=""
        class="img-fluid col-12 profile-banner-image"
      />
    </picture>
  </div>
</section>
