<ion-content class="flex justify-center items-center">
  <ion-row class="h-full">
    <ion-col size="12" sizeLg="6" class="ion-text-center">
      <div class="h-full w-full flex justify-center items-center profile-title">
        <div>
          <p class="text-light profile-title-h1">
            Hola!!
            <span class="wave" role="img" aria-labelledby="wave">👋🏻</span>
            <br />
            soy <br class="md:hidden" />
            <span class="profile-title-name">Matias Galeano</span>
            <br />
            <span class="text-3xl">Software Developer.</span>
          </p>
          <div class="w-full flex justify-center profile-title-h2">
            <!-- <app-home-skills /> -->
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size="12" sizeLg="6">
      <div class="h-full flex justify-center items-center">
        <ion-img
          class="h-4/5 max-h-4/5 object-contain"
          src="assets/images/programming.svg"
        />
      </div>
    </ion-col>
  </ion-row>
</ion-content>
