<section class="container mh100">
  <div class="row mh100">
    <div
      data-aos="fade-down-right"
      class="col-12 col-lg-6 d-flex justify-content-center align-items-center mb-5 profile-title"
    >
      <div>
        <p class="text-light profile-title-h1">
          Hola!! <span class="wave" role="img" aria-labelledby="wave">👋🏻</span>
          <br />
          soy <br class="d-md-none" />
          <span class="text-primary">Matias Galeano</span>
          <br />
          <span class="fs-3">Software Developer.</span>
        </p>
        <div class="col-12 d-flex justify-content-center profile-title-h2">
          <app-home-skills />
        </div>
      </div>
    </div>
    <picture
      data-aos="fade-up-left"
      class="mh100 d-none d-md-flex col-12 col-lg-6 justify-content-center align-items-center profile-banner"
    >
      <img
        [src]="banner"
        alt=""
        class="img-fluid col-12 profile-banner-image"
      />
    </picture>
  </div>
</section>
<div class="mt-auto mb-0">
  <app-footer />
</div>
