<section class="container mh100">
  <app-subtitle class="row mt-3" [title]="'Proyectos'" />
  <div
    class="row d-flex justify-content-center align-item-center mt-3 pb-5 gap-5 gap-lg-4 gap-xl-2"
  >
    @for (project of projects; let i = $index; track project.id) {
    <app-project-item
      class="col-auto"
      [project]="project"
      [@enter]="{
        value: '',
        params: {
          duration: 500,
          delay: project.delay,
          translate: '30px'
        }
      }"
    />
    }
  </div>
</section>
<div class="mt-auto mb-0">
  <app-footer />
</div>
