<ion-content>
  <section>
    <ion-title>
      <h2 class="!text-center !font-black">
        {{ "Proyectos en los que trabajé" | uppercase }}
      </h2>
    </ion-title>

    <ion-grid>
      <ion-row>
        @for (project of projects(); track $index) {
        <ion-col
          [offsetLg]="$index % 2 === 0 ? 2 : 3"
          size="12"
          sizeLg="8"
          class="flex justify-center p-2"
        >
          <app-project-item
            class="w-full"
            [project]="project"
            [index]="$index"
          />
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
