@use "@ionic/angular/css/core.css";

@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

@use "@ionic/angular/css/padding.css";
@use "@ionic/angular/css/float-elements.css";
@use "@ionic/angular/css/text-alignment.css";
@use "@ionic/angular/css/text-transformation.css";
@use "@ionic/angular/css/flex-utils.css";

/* @use "@ionic/angular/css/palettes/dark.always.css"; */
@use "@ionic/angular/css/palettes/dark.class.css";
// @use "@ionic/angular/css/palettes/dark.system.css";
@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 14px;
}

#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  ion-content {
    flex: 1;
  }
}

ion-split-pane {
  --side-min-width: 80px;
  --side-max-width: 80px;
}

ion-menu {
  --width: 80px;
  --max-width: 80px !important;
}

.accent-primary {
  border-left: 0.3rem solid var(--ion-color-primary) !important;
}

.accent-secondary {
  border-left: 0.3rem solid var(--ion-color-secondary) !important;
}

.accent-info {
  border-left: 0.3rem solid #33e7ff !important;
}

.accent-warning {
  border-left: 0.3rem solid var(--ion-color-warning) !important;
}

.accent-success {
  border-left: 0.3rem solid var(--ion-color-success) !important;
}

.accent-success {
  border-left: 0.3rem solid var(--ion-color-success) !important;
}

.accent-danger {
  border-left: 0.3rem solid var(--ion-color-danger) !important;
}
