@import "variables";

$enable-cssgrid: true;
$tooltip-bg: $primary;
$tooltip-color: $dark;
$form-check-input-checked-bg-color: $primary;
$form-check-input-checked-border-color: $primary;
$transition-collapse: height 0.35s ease !default;

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1;0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,1;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sofia Sans Semi Condensed", "Nunito Sans", sans-serif;
  background: $dark;
  background-size: 100% 1000%;
  color: $dark;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.scrollable-container {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable-container::-webkit-scrollbar {
  width: 10px;
}
.scrollable-container::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 3px;
}

.pointer {
  cursor: pointer;
}
