<ng-container *ngIf="viewMode === 'list'">
  <table
    class="table table-dark table-condensed table-borderless table-striped glass-box"
  >
    <thead class="text-light">
      <tr>
        <th scope="col">Projecto</th>
        <th scope="col">Demo</th>
        <th scope="col" class="text-end">
          <button class="btn ms-auto me-2 p-0" (click)="add()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let project of projects">
        <tr>
          <td class="text-light" scope="row">{{ project.name }}</td>
          <td>
            <p class="text-light m-0">
              <a
                [href]="project.demoUrl"
                target="_blank"
                rel="noopener noreferrer"
                >Link</a
              >
            </p>
          </td>
          <td class="text-end">
            <button class="btn ms-auto me-2 p-0" (click)="edit(project)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              class="btn ms-auto me-2 p-0"
              data-bs-toggle="modal"
              data-bs-target="#project"
              (click)="delete(project)"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-container>
<ng-container *ngIf="viewMode === 'form'">
  <app-project-form [selectedProject]="selectedProject" />
</ng-container>

<div
  class="modal fade"
  id="project"
  tabindex="-1"
  aria-labelledby="project"
  aria-hidden="true"
>
  <dialog class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Desea eliminar el elemento?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </dialog>
</div>
