@if (viewMode === 'list') {
<table
  class="table table-dark table-condensed table-borderless table-striped glass-box"
>
  <thead class="text-light">
    <tr>
      <th scope="col">Proyecto</th>
      <th scope="col">Demo</th>
      <th scope="col" class="text-end">
        <button class="btn ms-auto me-2 p-0" (click)="add()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (project of projects; track project.id) {
    <tr>
      <td class="text-light" scope="row">{{ project.name | titlecase }}</td>
      <td>
        <p class="text-light m-0">
          <a [href]="project.demoUrl" target="_blank" rel="noopener noreferrer">
            Link
          </a>
        </p>
      </td>
      <td class="text-end">
        <button class="btn ms-auto me-2 p-0" (click)="edit(project)">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          class="btn ms-auto me-2 p-0"
          data-bs-toggle="modal"
          data-bs-target="#projectModal"
          (click)="abrirModal(project)"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
} @else if (viewMode === 'form') {
<app-project-form
  [selectedProject]="selectedProject"
  (projectFormSubmit)="onFormSubmit($event)"
  (projectFormCancel)="cancel()"
/>
}
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  #projectModal
  id="projectModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered text-dark">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="cerrarModal()"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar el proyecto
        {{ selectedProject?.name }}?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="cerrarModal()"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="delete()"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
