<section class="container-fluid mh100">
  <article class="d-flex align-items-center justify-content-center" id="about">
    <app-about-profile class="w-100" />
  </article>
  <article
    class="d-flex align-items-center justify-content-center min-vh-100"
    id="soft"
  >
    <app-about-soft-skills class="w-100" />
  </article>
  <article
    class="d-flex align-items-center justify-content-center min-vh-100"
    id="hard"
  >
    <app-about-hard-skills class="w-100" />
  </article>
</section>
<div class="mt-auto mb-0">
  <app-footer />
</div>
