<section class="container-fluid" id="about">
  <article
    class="d-flex align-items-center justify-content-center mh100"
    id="about"
    style="scroll-margin-top: 50px"
  >
    <app-about-profile class="w-100" />
  </article>
  <article
    class="d-flex align-items-center justify-content-center min-vh-100"
    id="soft"
  >
    <app-about-soft-skills class="w-100" />
  </article>
  <article
    class="d-flex align-items-center justify-content-center min-vh-100"
    id="hard"
  >
    <app-about-hard-skills class="w-100" />
  </article>
</section>
<div class="mt-auto mb-0">
  <app-footer />
</div>
